// generic palette
$bg-dark: #0d1117;

// type palette
$normal: #a8a878;
$fire: #f08030;
$water: #6890f0;
$grass: #78c750;
$electric: #f5ce32;
$ice: #98d8d8;
$fighting: #b43e36;
$poison: #93568d;
$ground: #e0c068;
$flying: #a890f0;
$psychic: #f85888;
$bug: #a8b820;
$rock: #b8a038;
$ghost: #705898;
$dark: #705848;
$dragon: #7138f6;
$steel: #b8b7cf;
$fairy: #f0b6bc;
